<templates>
    <template id="footer">
    	<!--公用底部-->

			<div class="footer">
				<div class="lineborder">
					<div class="container">
						<div class="statements-agreements row">
							<ul class="col-md-6 nrow">
								<a href="http://www.youquhua.com/my/userregistagree.html"><li>注册协议 </li></a>
								<a href="http://www.youquhua.com/my/Communitytreaty.html"><li>社区公约</li></a>
								<a href="http://www.youquhua.com/my/downloadApp.html"><li> 手机版</li></a>
								<a href="http://www.youquhua.com/my/aboutUs.html"><li> 关于我们</li></a>
							</ul>
							<ul class="col-md-6 nrow">
								<a href="###"><li> 商务合作</li></a>
								<a href="/flowSupermarket/my/Disclaimer.html"><li> 免责声明 </li></a>
								<a href="/flowSupermarket/my/downloadApp.html"><li> 客户端下载</li></a>
								<a href="###"><li>意见建议</li></a>
							</ul>
						</div>
						
						
					</div>
				</div>
				
				
				<div class="container">
					<div class="link-qrcode row">
							<div class="col-md-6 nrow">
								<div class="link-qrcode_box">
									<h5 class="link-qrcode_box_qrcodeimg_gzh">
										<!--<img src="/static/images/qrcode.png"/>-->
									</h5>
									<h6 class="link-qrcode_box_qrcodedecs">
										官方公众号
									</h6>
								</div>
								<div class="link-qrcode_box pad40">
									<h5 class="link-qrcode_box_qrcodeimg">
										<!--<img src="/static/images/qrcode.png"/>-->
									</h5>
									<h6 class="link-qrcode_box_qrcodedecs">
										下载APP
									</h6>
								</div>
							</div>
							<div class="col-md-6">
								<div class="link-qrcode_qqnums">
									<p class="row">
										<span class="col-md-6">官方客服QQ：2878594007</span>
										<span class="col-md-6">投诉建议QQ：2878594007</span>
									</p>

								</div>
								  
							</div>
						</div>
				</div>
				
			</div>
     </template>
   
<templates>
