<templates>
    <template id="header">
       <!--公共头部-->

			<div class="containerTop">
				<div class="container ">
					<!-- Static navbar -->
					<nav class="navbar navbar-default navbar-default-reset">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			              <span class="sr-only">Toggle navigation</span>
			              <span class="icon-bar icon-bar-reset"></span>
			              <span class="icon-bar icon-bar-reset"></span>
			              <span class="icon-bar icon-bar-reset"></span>
			            </button>
								<a class="navbar-brand" href="#">
								</a>
							</div>
							<div id="navbar" class="navbar-collapse collapse">

								<ul class="nav navbar-nav navbar-right headertabs">
									<li id="index" class="active">
										<a href="http://www.edgvip.cn">首页</a>
									</li>
									<li id="loanlist">
										<a href="http://www.edgvip.cn/loanList.html">贷款超市</a>
									</li>
									<li>
										<a href="http://www.edgvip.cn/discussionList.html">贷款攻略</a>
									</li>
									<li>
										<a href="/flow-market-pc/my/downloadApp.html">下载应用程序</a>
									</li>
									<li>
										<a href="/flow-market-pc/my/help.html">我的</a>
									</li>
								</ul>
							</div>
							<!--/.nav-collapse -->
						</div>
						<!--/.container-fluid -->
					</nav>
				</div>
			</div>
			<script type="text/javascript">
			</script>
    </template>
   
<templates>